Package: com.yourcompany.first
Name: first
Version: 0.0.1
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: System Administrator
Author: System Administrator
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000)
